parameters:
  paths:
    - /source/src
  level: 7
  bootstrapFiles:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  scanDirectories:
    - phar:///source/vendor/PiggyCustomEnchants.phar/src/
    - phar:///source/vendor/Hierarchy.phar/src/
    - phar:///source/vendor/HRKChat.phar/src/
    - phar:///source/vendor/ScoreHud.phar/src/
    - phar:///source/vendor/Commando.phar/src/
    - phar:///source/vendor/FormsUI.phar/src/
    - phar:///source/vendor/libasynql.phar/src/
    - phar:///source/vendor/libPiggyEconomy.phar/src/
    - phar:///source/vendor/libPiggyUpdateChecker.phar/src/
  excludePaths:
    analyse:
     - source/vendor
  checkMissingIterableValueType: false